@import "tailwindcss";

/* 不要再用 prefers-color-scheme 去切回白底 */
:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #0b0f14; /* 跟你 theme.background.default 对齐 */
  color: #e5e7eb;
  font-family: Arial, Helvetica, sans-serif;
}

html { overflow-y: scroll; }